<!DOCTYPE html>
<html>
  <head>
    <title>JobFinder</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
     <% if current_user %>
       <p>Hello, <%= current_user.name %>!
       <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
       <%= link_to 'Posts', posts_path %>
       <%= link_to 'Create Post', new_post_path %>
     <% else %>
       <%= link_to 'Register', new_user_registration_path %>
       <%= link_to 'Login', new_user_session_path %>
     <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
